
@{
     
     ViewBag.Title = "Work"; 
     if (!Request.IsAjaxRequest()) 
     { 
         Layout = "~/Views/Shared/_Layout.cshtml"; 
     } 

}


   <div class="work-row">
             <div class="col-md-6 column">
                   <div>
                            <img src="http://tinyurl.com/qeemlqf" style="height:200px;  width:200px;"/>
                            <p>Work Sample 1</p>
           
                  </div>
        
            </div>
            <div class="col-md-6 column">
                     <div >
                         <img src="http://tinyurl.com/qeemlqf" style="height:200px;  width:200px;"/>
                            <p>Work Sample 2</p>
           
                     </div>
        
            </div>
        </div>
   <div class="work-row">
             <div class="col-md-6 column">
                     <div >
                         <img src="http://tinyurl.com/qeemlqf" style="height:200px;  width:200px;" />
                             <p>Work Sample 3</p>
            
              </div>
        
   </div>
            <div class="col-md-6 column">
                     <div>
                         <img src="http://tinyurl.com/qeemlqf" style="height:200px;  width:200px;" />
                            <p>Work Sample 4</p>
           
                     </div>
        
  
            
              </div>
   
</div>
