
@{
    ViewBag.Title = "Careers"; 
     if (!Request.IsAjaxRequest()) 
     { 
         Layout = "~/Views/Shared/_Layout.cshtml"; 
     } 

}


<div class="jumbotron">
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat neque, finibus non sem vitae, finibus porttitor turpis. Mauris tempor mollis turpis, ac blandit mi. Nunc eget volutpat sem. Proin hendrerit euismod nisl vel ultricies. Mauris porta sapien tortor, sed pulvinar ipsum pretium vitae. Vestibulum interdum rutrum urna in consequat. Mauris et viverra tellus. Cras eget tristique odio. Donec bibendum diam orci, sit amet finibus orci efficitur in. Curabitur lacinia luctus euismod. Quisque facilisis, ante non tristique gravida, neque felis iaculis metus, aliquam luctus dolor libero eu sapien. Vestibulum porttitor tortor eu hendrerit bibendum. Quisque nec commodo augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tristique, turpis id tristique placerat, sem arcu imperdiet nunc, et euismod neque est vitae velit. Etiam rhoncus lorem eget lorem gravida, at pharetra urna congue.

                 Vivamus finibus non augue vel ultricies. Proin nec metus id ligula lobortis bibendum a nec erat. Sed quis bibendum lorem, non tincidunt arcu. Proin orci tortor, dignissim vel metus pellentesque, rutrum ornare mauris. In cursus dolor at gravida vehicula. Morbi sit amet sem nec nibh tempus aliquam. Nulla tristique purus porttitor sapien sagittis, quis fermentum ligula pulvinar. Aliquam consectetur tempor lacus, sit amet venenatis est placerat a. Aenean luctus ultrices purus, ultricies pharetra metus fringilla id. Donec nec laoreet dui. Sed venenatis erat vel tincidunt tempor. Sed vestibulum ipsum vitae magna mollis, lacinia sagittis justo mattis.
              </p>
    
</div>
