@{
    ViewBag.Title = "Home Page"; if (!Request.IsAjaxRequest()) 
     { 
         Layout = "~/Views/Shared/_Layout.cshtml"; 
     } 

 }

<div><img src="http://tinyurl.com/lf-suhbg" style="width: 100%" /> </div>
   
    <div class="row">
              <div class="col-md-3 column">
                  <h2>  Title  </h2>
                    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor metus, ullamcorper et eros et, ornare. </p>
        
              </div>
              <div class="col-md-3 column">
                     <h2> Title </h2>
                    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque volutpat lobortis. Morbi vel velit quis. </p>
              </div>
              <div class="col-md-3 column">
                   <h2>  Title </h2>
                   <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus ligula, aliquet sed nisi ac, ultricies  </p>
              </div>
    </div>  
